.paper-container {
    min-width: 250px;
    min-height: 100%;
    padding: 20px;
    margin: 0 auto;
}

.paper-row{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.paper-row .white-checker{
    position: static;
    width: 20px;
    height: 20px;
    margin: 0 10px 5px 0;
}

.paper-row .black-checker{
    position: static;
    width: 20px;
    height: 20px;
    margin: 0 10px 5px 0;
}