.black-checker {
  position: relative;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-image: url("black checker.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.active-checker {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 70%;
  box-shadow: 0 2px 2px 3px rgba(128, 128, 128, 0.7), inset 0 0 0 1px gray;
}