.board-block {
  border: 1px solid gray;
  width: 780px;
  height: 780px;
  margin: 0 auto;

  @media screen and (max-width : 1920px) { width: 780px; height: 780px }
  @media screen and (max-width : 1680px) { width: 720px; height: 720px }
  @media screen and (max-width : 1366px) { width: 660px; height: 660px }
  @media screen and (max-width : 1280px) {  }
  @media screen and (max-width : 1024px) {  }
  @media screen and (max-width : 800px)  {  }
  @media screen and (max-width : 768px)  { width: 480px; height: 480px }
  @media screen and (max-width : 600px)  {}
  @media screen and (max-width : 533px)  { width: 330px; height: 330px }
  @media screen and (max-width : 360px)  {  }
  @media screen and (max-width : 320px)  { width: 240px; height: 240px }
  @media screen and (max-width : 240px)  { width: 90px; height: 90px }
  @media screen and (max-width : 176px)  {}
}
.board-block-wrapper {
  height: 100%;
}
